
// Conexion a la BD en localhost:

STAGE=dev

DB_PASSWORD=MySecr3tPassWord@as2
DB_NAME=TesloDB
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres

PORT=3000
HOST_API=http://localhost:3000/api

JWT_SECRET=Est3EsMISE3Dsecreto32s


// Conexion a la BD en neon (en la nube):

STAGE=prod

DB_PASSWORD={DB_PASSWORD}
DB_NAME={DB_NAME}
DB_HOST={DB_HOST}
DB_PORT=5432
DB_USERNAME={DB_USERNAME}

PORT=3000
HOST_API=http://localhost:3000/api

JWT_SECRET={JWT_SECRET}


postgresql://{DB_USERNAME}:{DB_PASSWORD}@{DB_HOST}/{DB_NAME}?sslmode=require&channel_binding=require